@charset "UTF-8";

.cafe_name{
   margin-top: 20px;
   height: 50px;
   text-align: center;
}

.img_cafe_info{
   display: flex;
   justify-content: center;
   margin-top: 5px;
}

.cafe_img{
   height: 500px;
   width: 400px;
   background-color: blue;
   margin-right: 70px;
}

.cafe_info{
   margin-top: 75px;
   margin-left: 70px;
   width: 600px;
   height: 350px;
}

.title_align{
   text-align: right;
}

.review_content{
   text-align: center;
}

.tb_h{
   height: 70px;
}

.title_align{
   width: 150px;
}

.review_content{
   width: 350px;
}

.link_button{
   width: 100px;
}

.hot_size{
   width: 32px;
   height: 20px;
}

.star_size{
   width: 27px;
   height: 25px;
}