@charset "UTF-8";

.cafe_name{
   margin-top: 20px;
   height: 50px;
   text-align: center;
   font-size: 25px;
}


.img_cafe_info{
   display: flex;
   justify-content: center;
   margin-top: 5px;
}

.cafe_img{
   height: 500px;
   width: 400px;
   background-color: blue;
   margin-right: 70px;
}

.cafe_info{
   margin-top: 75px;
   margin-left: 70px;
   width: 600px;
   height: 350px;
   font-size: 17px;
}

.title_align{
   text-align: right;
}

.review_content{
   text-align: center;
}

.tb_h{
   height: 70px;
}

.title_align{
   width: 150px;
}

.review_content{
   width: 350px;
}

.link_button{
   width: 100px;
}

.hot_size{
   width: 35px;
   height: 23px;
   margin-left: 5px;
   margin-bottom: 2px;
}

.star_size{
   width: 27px;
   height: 25px;
   margin-right: 5px;
   margin-bottom: 5px;
}

.input_lgn{
 border-bottom: solid #4D5059 1px;
 color: #1A1A1A;
    background-color:#F5F7F6;
    width: 250px;
}

/* .common_button{
	width: 80px;
	height: 30px;
	background-color:#D96941;
	color: white;
	border:1px solid #F5F7F6;
	border-radius: 10px;
	text-align: center;
	cursor: pointer;
} */

/* bootstrap button */
.btn{
	width: 80px;
	height: 30px;
	padding: 4px 20px;
	border-radius: 7px;
	font-size: 15px !important;
	line-height: 0px !important;
}

.btn-warning{
    background-color: #fc8a17 !important;
}