@charset "UTF-8";


.img_logo{
   margin-left: 100%;
   width: 150px;
   height: 150px;
   margin-top: -2%;
}

.top_main{
   width: 100%;
}

.top_main td{
   width: 50%;
}

.top_search_cafe{
   margin-bottom: 70%;
}

.top_search_bar{
   margin-top: -2%;
   text-align: center;
}

.top_search_bar>div{
   width: 800px;
   height: 40px;
   margin-top: 1%;
   border-radius: 10px;
}

.search{
   border-radius: 30px !important;
   height: 43px; 
}

.top_location>div{
   margin-top:10px;
   margin-left:48%;
}

.img_location{
   margin-left:15pt;
   width: 20px;
   cursor: pointer;
}

#location_text{
   padding-left: 10%;
    margin-left: -8%;
    border: 1px solid;
    height: 20pt;
}

/* bootstrap button */
.btn{
   width: 80px;
   height: 25px;
   padding: 4px 20px;
   border-radius: 7px;
   font-size: 15px !important;
   line-height: 0px !important;
}

.btn-warning{
    background-color: #fc8a17 !important;
}