@charset "UTF-8";

ul#main_menu{
   
   list-style: none;
   margin-top: 20px;
}

ul#main_menu > li{
   /* 가로배치 */
   display: inline-block;
}

ul#main_menu > li > a{
   display: block;
   text-decoration: none;
   
   width:  120px;
   /*border: 1px solid blue;*/
   text-align: center;
   
   font-size: 16pt;
   font-weight: bold; 
   color: #0080c0;
   margin-left: 80px;
}

ul#main_menu > li > a:hover{
   color:red;
   
}