@charset "UTF-8";

*{ margin: 0;}

#box{
	width: 700px;
	margin: auto;
}

#title{
	text-align: center;
	font-size: 26pt;
	font-weight: bold;
	color: #004080;
	text-shadow: 1px 1px 3px black;
}

#type_btn{
	text-align: right;
	margin-top: 10px;
	margin-bottom: 10px;
}

#empty_message{
	text-align: center;
	margin-top: 100px;
	color: red;
	font-size: 16pt;
}

.type_name{
	font-weight: bold;
	font-size: 13pt;
}

.type_content{
	min-height: 80px;
	height: auto;
	background: #81d6a9;
}

.type_regdate{
	color: #ff80ff;
}

.type_pwd{
	color: #ff80ff;
}

